@page
@functions
{
  public string DayName { get; set; }  
  public int nomina { get; set; }
  public void OnGet()
  {
    Model.DayName = DateTime.Now.ToString("dddd");
  }
}


        <div class="login-triangle"></div>
        
        <h2 class="login-header">@Model.DayName</h2>
      
        <form class="login-container">
          <p><input type="email" placeholder="Numero de nómina"></p>
          <p><input type="password" placeholder="Contraseña"></p>
          <p><input type="submit" value="Iniciar sesión" class="boton"></p>
        </form>
