@page
@model PermisosWeb.Pages.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


        <div class="login-triangle"></div>
        
        <h2 class="login-header">Permiso</h2>
      
        <form class="login-container" method = "POST">
          <p><input asp-for="Login.Usuario" placeholder="Numero de nómina"></p>
          <p><input type="password" placeholder="Contraseña"></p>
          <p><input type="submit" value="Iniciar sesión" class="boton"></p>
        </form>
